a {
    text-decoration: none;
  }
  body {
    background: -webkit-linear-gradient(bottom, #2B2A4C, #2B2A4C);
    background-repeat: no-repeat;
  }
  label {
    font-family: sans-serif;
    font-size: 11pt;
  }
  #forgot-pass {
    color: #0C87F2;
    font-family: sans-serif;
    font-size: 10pt;
    margin-top: 15px;
    text-align: right;
  }
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 2rem auto 8.1rem auto;
    width: 630px;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: sans-serif;
    padding-bottom: 10px;
    padding-top: 13px;
  
  }
  #selamat-datang {
   font-family: sans-serif;
   font-size: 20px;
   text-align: center;
   color: white;
    padding-top: 13px;
  }
  #signup {
    color: #0C87F2;
    font-family: sans-serif;
    font-size: 10pt;
  
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #0C87F2, #0C87F2);
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    height: 42.3px;
    margin-top: 0px;
    width: 180px;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-content {
   font-size: 15px;
   font-family: sans-serif;
      width: 100%;
      padding: 12px 5px;
      margin: 0px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      background-size: 30px;
      background-position: 5px 5px;
      background-repeat: no-repeat;
      padding-left: 12px;
      border-radius: 5px;
  }
